/* Style the container */
.signup-container {
    width: 30%;
    border-radius: 10px;
    color: royalblue;
    align-self: center ;
    z-index: 5;
    
}

/* Style form labels */
.signup-label {
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.signup-bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("../../images/SignupBgImg.jpg");
    border-radius: 10px;
    /* opacity: 0.5; */
    z-index: 0;
    margin-top: 30px;
}





