header {
    margin-top: 25px;
    text-align: center;
}


.heading {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.divider {
    color: rgb(161, 161, 161);
    margin-bottom: 20px;
}

.products {
    padding: 20px;
}
